@model IEnumerable<Project.Models.Technology>

@{
    ViewData["Title"] = "Список технологий";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<h2>Реестр технологий</h2>

<table class="table table-hover" style="width:100%; table-layout: fixed;" >
    <thead>
        <tr>
            <th style="width:10%">#</th>
            <th>Название</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>
                <th style="">@item.SId</th>
                <td style="white-space: nowrap;  overflow: hidden; text-overflow: ellipsis;">@Html.ActionLink(@item.Name, "Technology", "Technologies", item)</td>
            </tr>

        }
    </tbody>
</table>
<canvas id="barChart"></canvas>
<script>
        var ctxB = document.getElementById("barChart").getContext('2d');
        var myBarChart = new Chart(ctxB, {
            type: 'bar',
            
            data: {
                @using Project.App_Code
                labels: @Html.GraphicLabels(),
                datasets: [{
                    label: 'Количество пользователей:',
                    data: @Html.GraphicData(),
                    backgroundColor: @Html.GraphicBackground(),
                    borderWidth: 1
                }],
               
            },
            
            options: {
                scales: {
                    yAxes: [{
                        
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1 //Добавить max/10+1
                        }
                    }]
                }
            }
        });
</script>

